<div class="body">
  <div class="baner">
    <a class="profile-button" routerLink="/my">
      <img src="../../assets/user-box-line.svg">
    </a>
    <div class="icon">
      <app-project-icon [iconColor]="'orange'" [width]="'130px'"></app-project-icon>
      <label class="title">VOLUNTEER WORLD <br> COMMUNITY</label>
      <p class="project-description">Together, we can create positive change and build<br>
        a brighter future for all. Explore our projects and start making an impact today!</p>
    </div>
  </div>

  <div class="search-content-container">
    <input
      type="text"
      class="search-form_input"
      id="searchQuery"
      placeholder="Search"
           (input)="onSearchQueryInput($event)">
      <div class="job-offers">
        <app-job-offer-card *ngFor="let offer of jobOffers"
                            [dateJobOffer]="offer.dateTime | date :'short'"
                            [titleJobOffer]="offer.jobOfferTitle"
                            [cityJobOffer]="offer.jobOfferCity"
                            [streetJobOffer]="offer.jobOfferStreet"
                            [countryJobOffer]="offer.jobOfferCountry"
                            (click)="openJobOfferPage(offer.id)"
        ></app-job-offer-card>
      </div>
    <mat-paginator
      [length]="length"
      [pageSize]="paginationFilter.pageSize"
      [pageIndex]="paginationFilter.pageNumber"
      (page)="getListJobOffers($event.pageIndex)"
    ></mat-paginator>
  </div>
</div>
