<div class="box">
  <label class="text-filter">Date</label><br>
  <mat-checkbox class="custom-checkbox">Newest</mat-checkbox>
  <mat-checkbox class="custom-checkbox">Oldest</mat-checkbox>

  <label class="text-filter"> City</label><br>
  <mat-checkbox class="custom-checkbox">Sydney</mat-checkbox>
  <mat-checkbox class="custom-checkbox">Vancouver</mat-checkbox>
  <mat-checkbox class="custom-checkbox">Tokyo</mat-checkbox>
  <mat-checkbox class="custom-checkbox">Rio de Janeiro</mat-checkbox>
  <mat-checkbox class="custom-checkbox">Oslo</mat-checkbox>
  <label class="text-filter">Street</label><br>
  <mat-checkbox class="custom-checkbox">Maple</mat-checkbox>
  <mat-checkbox class="custom-checkbox">Bond </mat-checkbox>
  <mat-checkbox class="custom-checkbox">Sakura</mat-checkbox>
  <mat-checkbox class="custom-checkbox">Fjord Lane</mat-checkbox>
  <mat-checkbox class="custom-checkbox">Copacabana Boulevard</mat-checkbox>
</div>
