.card{
  position: relative;
  width: 667px;
  height: 211px;
  border-radius: 20px 20px 20px 20px;
  background: #FFFFF8;
  margin-bottom: 7%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.custom-circle{
  background: #EB631BCC;
  width: 90%;
  height: 3vw;
  margin-left: 5%;
  border-radius: 10px 10px 10px 10px;
}

.title{
  font-family: 'Montserrat';
  font-size: 26px;
  font-weight: 700;
  text-align: left;
}

.text{
  padding-left: 30px;
  padding-top: 30px;
}

p{
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: left;
  color: #191513;
  margin: 0px;
}

.p-city{
  margin-top: 15px;
}

.p-country{
  margin-top: 10px;
}

.p-street{
  margin-top: 10px;
}

.p-date{
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 3%;
  color: #191513;
}
