.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title{
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 2%;
  }

  input{
    box-sizing: border-box;
    padding: 0 2%;
    width: 25%;
    height: 3.5em;
    border-radius: 20px 20px 20px 20px;
    background: Beige;
    border: none;
    outline: none;
    margin-bottom: 1%;

    &::placeholder{
      font-family: 'Lato';
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      letter-spacing: 0.03em;
      text-align: left;
      color: #000000;
    }

    &.ng-invalid.ng-touched{
      border: #EB631B 2px solid;
    }
  }

  textarea{
    box-sizing: border-box;
    padding: 2%;
    width: 25%;
    height: 15em;
    border-radius: 20px;
    background: Beige;
    border: none;
    outline: none;
    margin-bottom: 1%;
    resize: none;

    &::placeholder{
      font-family: 'Lato';
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.03em;
      text-align: left  ;
      color: #000000;
    }
  }

  .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #EB631B;
    margin-top: 3%;
  }
}
