<div class="body">
  <div class="baner">
    <a class="profile-button" routerLink="/my">
      <img src="../../assets/user-box-line.svg">
    </a>
    <div class="icon">
      <app-project-icon [iconColor]="'orange'" [width]="'130px'"></app-project-icon>
      <label class="title">VOLUNTEER WORLD <br> COMMUNITY</label>
      <p class="project-description">Together, we can create positive change and build<br>
        a brighter future for all. Explore our projects and start making an impact today!</p>
    </div>
  </div>
  <div class="container">
    <input type="text" class="search-form_input" id="searchQuery"
           (input)="onSearchQueryInput($event)">
    <div class="line-horizontal"></div>
      <div class="volunteers">
        <app-volunteer-card
          *ngFor="let volunteer of volunteers"
          [firstName]="volunteer.firstName"
          [lastName]="volunteer.lastName"
          [dateOfBirth]="volunteer.dateOfBirth"
          [description]="volunteer.description"
          [id]="volunteer.id">
        </app-volunteer-card>
      </div>
    <mat-paginator
      [length]="length"
      [pageSize]="paginationFilter.pageSize"
      [pageIndex]="paginationFilter.pageNumber"
      (page)="getListVolunteers($event.pageIndex)"
    ></mat-paginator>
  </div>
  <app-footer></app-footer>
</div>
