.body{
  display: block;
  position: relative;

  img {
    position: absolute;
    height: 30%;
    z-index: -1;
  }
  .top-right{
    top: 10%;
    left: 0;
  }

  .top-left {
    top: 28%;
    left: 0;
  }

  .bottom-right{
    bottom: -8%;
    right: 0;
    height: 27%;
  }

  .bottom-left{
    height: 25%;
    bottom: -15%;
    right: 0;
  }
}




