.body {
  background: #EBEBDF;
  padding: 10% 14% 4% 14%;
}

.context {
  background: #FFFFF8;
  border-radius: 20px;
  padding: 10% 5%;
  display: grid;
  gap: 20px;
}

.text {
  font-family: 'Nunito Sans';
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

a:link, a:visited {
  background: #FFFFF8;
  color: #000000;
  padding: 2vh 4vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 224px;
  border: 2px solid #EB631B;
  font-family: 'Nunito Sans';
  font-size: 3vh;
  font-weight: bold;
}

a:hover, a:active {
  background: #eeeee2;
}

@media screen and (min-width: 768px) {
  .context {
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 1024px) {
  .context {
    padding: 10% 20%;
  }

  .text {
    font-size: 2vw;
  }

  a:link, a:visited {
    padding: 1.5vh 3vw;
    font-size: 2.5vh;
  }
}
